In [38]:
import pandas as pd
import numpy as np
from textblob import TextBlob
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
from sqlalchemy import create_engine

# Articles

In [2]:
df_articles = pd.read_csv("treatments.csv")
df_articles.head()

   Category                                           Headline  Year
0  research  The effectiveness of a mindfulness-based stres...  2025
1  research  Association of urbanization-related factors wi...  2025
2  research  Endocrine dysfunction in patients with juvenil...  2025
3  research  Disparities in cardiovascular disease outcomes...  2025
4  research        FP10 - the Competitiveness Fund for Europe.  2025

In [3]:
df_articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38200 entries, 0 to 38199
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  38200 non-null  object
 1   Headline  38200 non-null  object
 2   Year      38200 non-null  int64
dtypes: int64(1), object(2)
memory usage: 895.4+ KB

In [4]:
df_articles.isna().sum()

Category    0
Headline    0
Year        0
dtype: int64

In [5]:
nlp = spacy.load("en_core_web_sm", disable=["parser", "ner"])

def preprocess(text: str) -> str:
    doc = nlp(text.lower())
    tokens = [
        token.lemma_ 
        for token in doc 
        if token.is_alpha 
           and token.lemma_ not in STOP_WORDS
    ]
    return " ".join(tokens)

df_articles["CleanHeadline"] = df_articles["Headline"].fillna("").apply(preprocess)

df_articles.head()

,Category,Headline,Year,CleanHeadline
0,research,The effectiveness of a mindfulness-based stres...,2025,effectiveness mindfulness base stress reductio...
1,research,Association of urbanization-related factors wi...,2025,association urbanization relate factor tubercu...
2,research,Endocrine dysfunction in patients with juvenil...,2025,endocrine dysfunction patient juvenile idiopat...
3,research,Disparities in cardiovascular disease outcomes...,2025,disparity cardiovascular disease outcome econo...
4,research,FP10 - the Competitiveness Fund for Europe.,2025,competitiveness fund europe

In [6]:
corpus_all = df_articles["CleanHeadline"].tolist()

cv_global = CountVectorizer(ngram_range=(1,2), stop_words="english", max_features=20)
tfidf_global = TfidfVectorizer(ngram_range=(1,2), stop_words="english", max_features=20)

X_cv_all = cv_global.fit_transform(corpus_all)
X_tfidf_all = tfidf_global.fit_transform(corpus_all)

cv_global_df = pd.DataFrame({
    "Keyword": cv_global.get_feature_names_out(),
    "Count":   X_cv_all.sum(axis=0).A1
}).sort_values("Count", ascending=False)

tfidf_global_df = pd.DataFrame({
    "Keyword": tfidf_global.get_feature_names_out(),
    "Score":   X_tfidf_all.sum(axis=0).A1
}).sort_values("Score", ascending=False)

cv_cat_results = []
tfidf_cat_results = []

for cat, grp in df_articles.groupby("Category"):
    corpus = grp["CleanHeadline"].tolist()
    
    cv = CountVectorizer(ngram_range=(1,2), stop_words="english", max_features=20)
    Xc = cv.fit_transform(corpus)
    for term, idx in cv.vocabulary_.items():
        cv_cat_results.append({
            "Category": cat,
            "Keyword":  term,
            "Count":    int(Xc[:, idx].sum())
        })
    
    tfidf = TfidfVectorizer(ngram_range=(1,2), stop_words="english", max_features=20)
    Xt = tfidf.fit_transform(corpus)
    for term, idx in tfidf.vocabulary_.items():
        tfidf_cat_results.append({
            "Category": cat,
            "Keyword":  term,
            "Score":    float(Xt[:, idx].sum())
        })

cv_by_category_df = (
    pd.DataFrame(cv_cat_results)
      .sort_values(["Category","Count"], ascending=[True,False])
)
tfidf_by_category_df = (
    pd.DataFrame(tfidf_cat_results)
      .sort_values(["Category","Score"], ascending=[True,False])
)


cv_global_df.to_csv("articles_keywords_counts.csv", index=False)
tfidf_global_df.to_csv("articles_keywords_tfidf.csv", index=False)
cv_by_category_df.to_csv("articles_keywords_by_category_counts.csv", index=False)
tfidf_by_category_df.to_csv("articles_keywords_by_category_tfidf.csv", index=False)

print("Global Counts:\n", cv_global_df.head(), 
      "\nGlobal TF-IDF:\n", tfidf_global_df.head(),
      "\nCounts by Category:\n", cv_by_category_df.groupby("Category").head(3),
      "\nTF-IDF by Category:\n", tfidf_by_category_df.groupby("Category").head(3))

Global Counts:
           Keyword  Count
19          trial  16131
16          study  12749
4         control  10552
10        patient   8070
5   control trial   7684
Global TF-IDF:
           Keyword        Score
16          study  6544.921839
19          trial  5493.983650
10        patient  4438.773560
4         control  3811.338076
5   control trial  2992.929391
Counts by Category:
       Category  Keyword  Count
3     research    trial   4518
7     research    study   3901
2     research  control   3068
24  technology    trial   5781
20  technology    study   4156
23  technology  control   3787
44  treatments    trial   5832
46  treatments    study   4692
48  treatments  control   3697
TF-IDF by Category:
       Category  Keyword        Score
7     research    study  1901.086951
3     research    trial  1620.933496
9     research  patient  1552.612566
20  technology    study  2165.024869
24  technology    trial  1922.994979
23  technology  control  1349.964323
46  treatments    study  2319.534261
44  treatments    trial  2013.168185
42  treatments  patient  1524.416165

# trending

In [7]:
df_news = pd.read_csv("news.csv")
df_news.head()

,Headline,Summary,Date
0,Alcohol use could contribute to dementia by da...,Heavy and former heavy drinking is associated ...,2025-04-14
1,Can weight training protect your brain from de...,Weight training may help protect the brains of...,2025-04-10
2,Diabetes drugs like Ozempic or Jardiance may s...,Two common types of anti-diabetes medications ...,2025-04-09
3,Certain combos of common food additives may ra...,"Two certain mixtures of common food additives,...",2025-04-09
4,Expert Q&A: Should you get a measles vaccine b...,A board-certified family medicine physician ex...,2025-04-08

In [8]:
df_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Headline  40 non-null     object
 1   Summary   40 non-null     object
 2   Date      40 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB

In [9]:
df_news['Date'] = pd.to_datetime(df_news['Date'], format='%Y-%m-%d')

In [10]:
df_news.isna().sum()

Headline    0
Summary     0
Date        0
dtype: int64

In [11]:
def preprocess(text: str) -> str:
    doc = nlp(text.lower())
    return " ".join(
        token.lemma_ for token in doc
        if token.is_alpha and token.lemma_ not in STOP_WORDS)


df_news["CleanHeadline"] = df_news["Headline"].fillna("").apply(preprocess)
df_news["CleanSummary"]  = df_news["Summary"].fillna("").apply(preprocess)


corpus = (df_news["CleanHeadline"] + " " + df_news["CleanSummary"]).tolist()

cv = CountVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
cv_matrix = cv.fit_transform(corpus)
cv_df = pd.DataFrame({
    "Keyword": cv.get_feature_names_out(),
    "Count":   cv_matrix.sum(axis=0).A1
}).sort_values("Count", ascending=False)
cv_df.to_csv("keyword_counts_trend.csv", index=False)

tfidf = TfidfVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
tfidf_matrix = tfidf.fit_transform(corpus)
tfidf_df = pd.DataFrame({
    "Keyword": tfidf.get_feature_names_out(),
    "Score":   tfidf_matrix.sum(axis=0).A1
}).sort_values("Score", ascending=False)
tfidf_df.to_csv("keyword_tfidf_trend.csv", index=False)

# region data

In [12]:
df_regions= pd.read_csv("region_data.csv")
df_regions.head()

,Region,Date,Title,Summary
0,Africa,14 April 2025,Congo: Effectively raising community awareness...,Brazzaville – The Republic of the Congo is one...
1,Africa,11 April 2025,Angola takes measures to improve access to saf...,"Luanda ‒ Manuel Domingos, community leader of ..."
2,Africa,10 April 2025,Congo: Innovative tools to reduce maternal mor...,Brazzaville – Congo is intensifying efforts to...
3,Africa,07 April 2025,Niger: improving access to services to reduce ...,"Niamey – When 19-year-old Aichatou, from Birni..."
4,Africa,07 April 2025,Community approach contributing to maternal he...,"Dakar – Ndèye, 29, mother of three children an..."

In [13]:
df_regions['Date'] = pd.to_datetime(df_regions['Date'],format='mixed',dayfirst=True)

In [14]:
df_regions.isna().sum()

Region       0
Date         0
Title        0
Summary    397
dtype: int64

In [15]:
nlp = spacy.load("en_core_web_sm", disable=["parser", "ner"])
def preprocess(text: str) -> str:
    doc = nlp(text.lower())
    return " ".join(
        tok.lemma_ for tok in doc
        if tok.is_alpha and tok.lemma_ not in STOP_WORDS
    )

df_regions["CleanText"] = (
    df_regions["Title"].fillna("") + " " + df_regions["Summary"].fillna("")
).apply(preprocess)


cv_global    = CountVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
tfidf_global = TfidfVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)

X_count_all    = cv_global.fit_transform(df_regions["CleanText"])
X_tfidf_all    = tfidf_global.fit_transform(df_regions["CleanText"])

df_cv_global = pd.DataFrame({
    "Keyword": cv_global.get_feature_names_out(),
    "Count":   X_count_all.sum(axis=0).A1
}).sort_values("Count", ascending=False)

df_tfidf_global = pd.DataFrame({
    "Keyword": tfidf_global.get_feature_names_out(),
    "Score":   X_tfidf_all.sum(axis=0).A1
}).sort_values("Score", ascending=False)


cv_region_results    = []
tfidf_region_results = []

for region, grp in df_regions.groupby("Region"):
    corpus = grp["CleanText"].tolist()
    
    
    cv = CountVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
    Xc = cv.fit_transform(corpus)
    for term, idx in cv.vocabulary_.items():
        cv_region_results.append({
            "Region": region,
            "Keyword": term,
            "Count": int(Xc[:, idx].sum())
        })
    
    
    tfidf = TfidfVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
    Xt = tfidf.fit_transform(corpus)
    for term, idx in tfidf.vocabulary_.items():
        tfidf_region_results.append({
            "Region": region,
            "Keyword": term,
            "Score": float(Xt[:, idx].sum())
        })

df_cv_by_region = pd.DataFrame(cv_region_results) \
    .sort_values(["Region","Count"], ascending=[True, False]) \
    .reset_index(drop=True)

df_tfidf_by_region = pd.DataFrame(tfidf_region_results) \
    .sort_values(["Region","Score"], ascending=[True, False]) \
    .reset_index(drop=True)


df_cv_global.to_csv("region_Keyword_Counts.csv", index=False)
df_tfidf_global.to_csv("region_TFIDF_Scores.csv", index=False)
df_cv_by_region.to_csv("counts_by_Region.csv", index=False)
df_tfidf_by_region.to_csv("FIDF_by_Region.csv", index=False)

# Breakout news

In [16]:
df_breakout= pd.read_csv("break_out.csv")

In [17]:
df_breakout.head()

,Date,News,Country
0,17 April 2025 |,Avian Influenza A(H5N1),Mexico
1,11 April 2025 |,Invasive meningococcal disease,Kingdom of Saudi Arabia
2,28 March 2025 |,Cholera,Angola
3,27 March 2025 |,Measles,United States of America
4,13 March 2025 |,Marburg virus disease– United Republic of Tanz...,NaN

In [18]:
df_breakout['Date'] = (df_breakout['Date'].str.replace(r'\|', ' ', regex=True).str.strip())

In [19]:
df_breakout['Date'] = pd.to_datetime(df_regions['Date'],format='mixed',dayfirst=True)

In [20]:
df_breakout.isna().sum()

Date        0
News        0
Country    11
dtype: int64

In [21]:
df_breakout = df_breakout.fillna("unknown")

In [22]:
def preprocess(text: str) -> str:
    """
    Lowercase, remove stopwords & punctuation, and lemmatize.
    """
    doc = nlp(text.lower())
    tokens = [
        token.lemma_
        for token in doc
        if token.is_alpha and token.lemma_ not in STOP_WORDS
    ]
    return " ".join(tokens)


df_breakout["CleanText"] = df_breakout["News"].fillna("").apply(preprocess)

cv_global    = CountVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
tfidf_global = TfidfVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)

X_cv_all    = cv_global.fit_transform(df_breakout["CleanText"])
X_tfidf_all = tfidf_global.fit_transform(df_breakout["CleanText"])

global_counts_df = pd.DataFrame({
    "Keyword": cv_global.get_feature_names_out(),
    "Count":   X_cv_all.sum(axis=0).A1
}).sort_values("Count", ascending=False)

global_tfidf_df = pd.DataFrame({
    "Keyword": tfidf_global.get_feature_names_out(),
    "Score":   X_tfidf_all.sum(axis=0).A1
}).sort_values("Score", ascending=False)

cv_country_results    = []
tfidf_country_results = []

for country, grp in df_breakout.groupby("Country"):
    corpus = grp["CleanText"].tolist()

    cv = CountVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
    Xc = cv.fit_transform(corpus)
    for term, idx in cv.vocabulary_.items():
        cv_country_results.append({
            "Country": country,
            "Keyword": term,
            "Count":   int(Xc[:, idx].sum())
        })

    tfidf = TfidfVectorizer(stop_words="english", ngram_range=(1,2), max_features=20)
    Xt = tfidf.fit_transform(corpus)
    for term, idx in tfidf.vocabulary_.items():
        tfidf_country_results.append({
            "Country": country,
            "Keyword": term,
            "Score":   float(Xt[:, idx].sum())
        })

cv_by_country_df = (pd.DataFrame(cv_country_results)
                     .sort_values(["Country","Count"], ascending=[True,False])
                     .reset_index(drop=True))

tfidf_by_country_df = (pd.DataFrame(tfidf_country_results)
                        .sort_values(["Country","Score"], ascending=[True,False])
                        .reset_index(drop=True))

global_counts_df.to_csv("breakout_keyword_counts.csv", index=False)
global_tfidf_df.to_csv("breakout_keyword_tfidf.csv", index=False)
cv_by_country_df.to_csv("breakout_counts_by_country.csv", index=False)
tfidf_by_country_df.to_csv("breakout_tfidf_by_country.csv", index=False)

# Investments

In [23]:
df_investments = pd.read_csv("startup_funding.csv")
df_investments.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000",NaN
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394",NaN
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860",NaN
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000",NaN
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000",NaN

In [24]:
df_investments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3044 entries, 0 to 3043
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3044 non-null   int64
 1   Date dd/mm/yyyy    3044 non-null   object
 2   Startup Name       3044 non-null   object
 3   Industry Vertical  2873 non-null   object
 4   SubVertical        2108 non-null   object
 5   City  Location     2864 non-null   object
 6   Investors Name     3020 non-null   object
 7   InvestmentnType    3040 non-null   object
 8   Amount in USD      2084 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 237.9+ KB

In [25]:
df_investments.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD', 'Remarks'],
      dtype='object')

In [26]:
df_investments = df_investments.drop(columns=['Remarks',"SubVertical","City  Location"])

In [27]:
df_investments= df_investments.dropna(subset = ["Industry Vertical"])

In [28]:
df_investments['Date dd/mm/yyyy'] = pd.to_datetime(df_investments['Date dd/mm/yyyy'],format="%d/%m/%Y",dayfirst=True,errors="coerce")

In [29]:
df_investments['Investors Name'] = df_investments['Investors Name'] .fillna('Unknown')

In [30]:
df_investments['InvestmentnType'] = df_investments['InvestmentnType'].fillna('Unknown')

In [31]:
df_investments['Amount in USD'] = pd.to_numeric( df_investments['Amount in USD'],errors='coerce')

In [32]:
df_investments['Amount in USD'] = df_investments['Amount in USD'].fillna(df_investments['Amount in USD'].mean())

In [33]:
df_investments.isna().sum()

Sr No                0
Date dd/mm/yyyy      6
Startup Name         0
Industry Vertical    0
Investors Name       0
InvestmentnType      0
Amount in USD        0
dtype: int64

In [34]:
df_investments.to_csv("cleaned_invest.csv", index=False)

# SQL integration :

In [39]:
engine = create_engine("mysql+pymysql://root:Niramayi@127.0.0.1:3306/Health_Analysis")

In [41]:
cv_global_df.to_sql(name="articles_keywords_counts",con=engine,if_exists="replace", index=False)
tfidf_global_df.to_sql(name="articles_keywords_tfidf",con=engine,if_exists="replace", index=False)
cv_by_category_df.to_sql(name="articles_keywords_by_category_counts",con=engine,if_exists="replace", index=False)
tfidf_by_category_df.to_sql(name="articles_keywords_by_category_tfidf",con=engine,if_exists="replace", index=False)

tfidf_df.to_sql(name="keyword_tfidf_trend",con=engine,if_exists="replace", index=False)
cv_df.to_sql(name="keyword_counts_trend",con=engine,if_exists="replace", index=False)

df_cv_global.to_sql(name="region_Keyword_Counts",con=engine,if_exists="replace", index=False)
df_tfidf_global.to_sql(name="region_TFIDF_Scores",con=engine,if_exists="replace", index=False)
df_cv_by_region.to_sql(name="counts_by_Region",con=engine,if_exists="replace", index=False)
df_tfidf_by_region.to_sql(name="FIDF_by_Region",con=engine,if_exists="replace", index=False)

global_counts_df.to_sql(name="breakout_keyword_counts",con=engine,if_exists="replace", index=False)
global_tfidf_df.to_sql(name="breakout_keyword_tfidf",con=engine,if_exists="replace", index=False)
cv_by_country_df.to_sql(name="breakout_counts_by_country",con=engine,if_exists="replace", index=False)
tfidf_by_country_df.to_sql(name="breakout_tfidf_by_country",con=engine,if_exists="replace", index=False)

df_investments.to_sql(name="cleaned_invest",con=engine,if_exists="replace", index=False)

C:\Users\akees\AppData\Local\Temp\ipykernel_6468\2990039315.py:9: UserWarning: The provided table name 'region_Keyword_Counts' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_cv_global.to_sql(name="region_Keyword_Counts",con=engine,if_exists="replace", index=False)
C:\Users\akees\AppData\Local\Temp\ipykernel_6468\2990039315.py:10: UserWarning: The provided table name 'region_TFIDF_Scores' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_tfidf_global.to_sql(name="region_TFIDF_Scores",con=engine,if_exists="replace", index=False)
C:\Users\akees\AppData\Local\Temp\ipykernel_6468\2990039315.py:11: UserWarning: The provided table name 'counts_by_Region' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_cv_by_region.to_sql(name="counts_by_Region",con=engine,if_exists="replace", index=False)
C:\Users\akees\AppData\Local\Temp\ipykernel_6468\2990039315.py:12: UserWarning: The provided table name 'FIDF_by_Region' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_tfidf_by_region.to_sql(name="FIDF_by_Region",con=engine,if_exists="replace", index=False)

2873